<div class="d-flex justify-content-center">
  <h1 class="rubik-bubbles display-1 text-light">ClipCloud</h1>
</div>

<div class="d-flex justify-content-center mt-3">
  <h2 class="display-6 text-center">Bring your inventory control into the cloud</h2>
</div>
<div class="d-flex justify-content-center">
   <h2 class="display-6 text-center"><%= link_to 'Sign up today', new_user_registration_path, class: "text-decoration-none text-dark" %></h2>
</div>

<%= render partial: "app_features" %>

<div class="d-flex justify-content-center mt-5 mb-3">
  <h3 class="display-6">Testimonial</h3>
</div>

<%= render partial: "testimonials" %>

<div class="d-flex justify-content-center mt-5 mb-3">
  <h3 class="display-6">Bring your restaurant into the modern age</h3>
</div>
<div class="d-flex justify-content-evenly align-items-center">
  <%= image_tag "old_clipboard.png", class: "w-25 rounded" %>
  <i class="fa-solid fa-arrow-right fa-5x"></i>
  <%= image_tag "ipad_clipboard.png", class: "w-25 rounded" %>
</div>


 <%= render partial: "footer" %>
