<div id="<%= dom_id inventorysheet %>">
  <p>
    <strong>Date:</strong>
    <%= inventorysheet.date.strftime("%B %d, %Y") %>
  </p>

  <p>
    <strong>Is holiday:</strong>
    <%= inventorysheet.is_holiday %>
  </p>

  <p>
    <strong>Is complete:</strong>
    <%= inventorysheet.is_complete %>
  </p>

  <p>
    <strong>Clipboard:</strong>
    <%= inventorysheet.clipboard.area %>
  </p>

</div>
