<p style="color: green"><%= notice %></p>

<%= render @inventorysheet %>

<div>
  <%= link_to "Edit this inventory sheet", edit_inventorysheet_path(@inventorysheet) %> |
  <%= link_to "Back to inventory sheets", inventorysheets_path %>

  <%= button_to "Destroy this inventory sheet", @inventorysheet, method: :delete %>
</div>
