<div class="d-flex justify-content-center">
  <%= link_to "Back to #{@clipboard.area} inventory sheets", inventorysheets_path(clipboard_id: @clipboard.id), class: "btn btn-outline-primary fw-bold" %>
</div>

<div class="d-flex justify-content-center">
  <%= render @inventorysheet %>
</div>

<div class="d-flex justify-content-center mt-5 mb-3">
  <h2 class="display-6">Items</h2>
</div>

<%= render partial: "items_table" %>

<%= paginate @items, param_name: "items_page" %>

<div class="d-flex justify-content-center mt-5 mb-3">
  <h2 class="display-6">Your ordered items</h2>
</div>

<%= render partial: "items_ordered_table" %>

<%= paginate @items_ordered, param_name: "items_ordered_page" %>
