<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
  }
</style>

<p style="color: green"><%= notice %></p>

<%= render @inventorysheet %>

<div>
  <%= link_to "Edit this inventory sheet", edit_inventorysheet_path(@inventorysheet) %> |
  <%= link_to "Back to inventory sheets", inventorysheets_path %>

  <%= button_to "Destroy this inventory sheet", @inventorysheet, method: :delete %>
</div>

<h2>Items</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Label</th>
      <th>Unit</th>
      <th>Pack Size</th>
      <th>Rank</th>
      <th>Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.id, edit_item_path(item) %></td>
        <td><%= item.label %></td>
        <td><%= item.unit %></td>
        <td><%= item.pack_size %></td>
        <td><%= item.rank %></td>
        <td><%= link_to 'Make/Edit an order', new_order_path(item_id: item.id, inventorysheet_id: @inventorysheet.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
