<p style="color: green"><%= notice %></p>

<%= render @clipboard %>

<div>
  <%= link_to "Edit this clipboard", edit_clipboard_path(@clipboard) %> |
  <%= link_to "Back to clipboards", clipboards_path %>

  <%= button_to "Destroy this clipboard", @clipboard, method: :delete %>
</div>
