<div id="<%= dom_id order %>">

  <p>
    <strong>On hand:</strong>
    <%= order.on_hand %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= "#{order.quantity} x #{order.item.pack_size} (pack size) = #{order.quantity * order.item.pack_size}"%>
  </p>

  <div>
    <strong>Par Level:</strong>
    <%= order.item.par_level || "None provided" %>
  </div>

  <div>
    <strong>Unit:</strong>
    <%= order.item.unit || "None provided" %>
  </div>

  <div>
    <strong>Pack Size:</strong>
    <%= order.item.pack_size || "None provided" %>
  </div>

</div>
