<div id="<%= dom_id order %>">

  <p>
    <strong>On hand:</strong>
    <%= order.on_hand %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= "#{order.quantity} x #{@item.pack_size} (pack size) = #{order.quantity * @item.pack_size}" %>
  </p>

  <p>
    <strong>Item ID:</strong>
    <%= order.item_id %>
  </p>

  <p>
    <strong>Inventory Sheet ID:</strong>
    <%= order.inventory_sheets_id %>
  </p>

  <div>
    <strong>Par Level:</strong>
    <%= @item.par_level || "None provided" %>
  </div>

  <div>
    <strong>Unit:</strong>
    <%= @item.unit || "None provided" %>
  </div>

   <div>
    <strong>Pack Size:</strong>
    <%= @item.pack_size || "None provided" %>
  </div>

</div>
