<div id="<%= dom_id order %>">
  <p>
    <strong>Item:</strong>
    <%= order.item_id %>
  </p>

  <p>
    <strong>Inventory sheets:</strong>
    <%= order.inventory_sheets_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>On hand:</strong>
    <%= order.on_hand %>
  </p>

  <p>
    <strong>Par level:</strong>
    <%= order.par_level %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= order.rank %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= order.comments %>
  </p>

</div>
