<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to the inventory sheet", inventorysheet_path(@order.inventory_sheets_id) %>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
