<div id="<%= dom_id vendor %>">
  <p>
    <strong>Company name:</strong>
    <%= vendor.company_name %>
  </p>

  <p>
    <strong>Rep name:</strong>
    <%= vendor.rep_name %>
  </p>

  <p>
    <strong>Rep email:</strong>
    <%= vendor.rep_email %>
  </p>

  <p>
    <strong>Rep phone number:</strong>
    <%= vendor.rep_phone_number %>
  </p>

  <p>
    <strong>Items count:</strong>
    <%= vendor.items_count %>
  </p>

</div>
