<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mt-2">
    <div class="card border-0" style="width: 20rem;">
      <div class="card-body d-flex flex-column">

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :category, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :category, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :product_type, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :product_type, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :label, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :label, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :unit, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :unit, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :price, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :price, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :pack_size, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :pack_size, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :item_size, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :item_size, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :pack_cost, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :pack_cost, size: 10 %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :area, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.select :area, Clipboard.all.map { |clipboard| [clipboard.area] } %>
          </div>
        </div>
        
        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :vendor_id, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.select :vendor_id, [['', '']] + Vendor.all.map { |vendor| [truncate(vendor.company_name, length:20), vendor.id] } %>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :rank, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :rank, size: 10 %>
          </div>
        </div> 

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :par_level, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_field :par_level, size: 10 %>
          </div>
        </div>             

        <div class="d-flex justify-content-between mt-2">
          <div class="d-flex align-items-start">
            <%= form.label :comment, class: "fw-bold me-2" %>
          </div>
          <div class="d-flex align-items-end">
            <%= form.text_area :comment, size: 10 %>
          </div>
        </div>

        <div>
          <%= form.hidden_field :user_id, value: current_user.id %>
        </div>

        <div class="d-flex justify-content-center"> 
          <%= link_to "Back to items", items_path, class: "btn btn-outline-primary btn-sm fw-bold mt-3 mx-1" %>
          <%= form.submit class: "btn btn-outline-success btn-sm fw-bold mt-3" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
