<div id="<%= dom_id item %>">
  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= item.product_type %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= item.label %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= item.unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Pack size:</strong>
    <%= item.pack_size %>
  </p>

  <p>
    <strong>Item size:</strong>
    <%= item.item_size %>
  </p>

  <p>
    <strong>Pack cost:</strong>
    <%= item.pack_cost %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= item.area %>
  </p>

  <p>
    <strong>Vendor:</strong>
     <%= item.vendor&.company_name || 'None Selected' %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= item.rank %>
  </p>

  <p>
    <strong>Par Level:</strong>
    <%= item.par_level %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= item.comment %>
  </p>

</div>
