<div id="<%= dom_id item %>" class="d-flex justify-content-center me-3">
  <div class="card mt-3 border-0" style="width: 22rem;">
    <div class="card-body d-flex flex-column align-items-center">
      <p class="card-text"><%= "Category: #{item.category}" %></p>
      <p class="card-text"><%= "Product Type: #{item.product_type}" %></p>
      <p class="card-text"><%= "Label: #{item.label}" %></p>
      <p class="card-text"><%= "Unit: #{item.unit}" %></p>
      <p class="card-text"><%= "Price: $#{item.price}" %></p>
      <p class="card-text"><%= "Pack Size: #{item.pack_size}" %></p>
      <p class="card-text"><%= "Pack Cost: $#{item.pack_cost}" %></p>
      <p class="card-text"><%= "Item Size: #{item.item_size}" %></p>
      <p class="card-text"><%= "Area: #{item.area}" %></p>
      <p class="card-text text-truncate" id="item_vendor_truncate"><%= "Vendor: #{item.vendor&.company_name || 'None Selected'}" %></p>
      <p class="card-text"><%= "Rank: #{item.rank}" %></p>
      <p class="card-text"><%= "Par Level: #{item.par_level}" %></p>
      <p class="card-text text-truncate" id="comment_truncate"><%= "Comment: #{item.comment}" %></p>
      <div class="d-flex">
        <%= link_to "Edit", edit_item_path(item), class: "btn btn-outline-secondary btn-sm p-2 mx-2" %>
        <% unless current_page?(item) %>
          <%= link_to "Show this item", item_path(item), class: "btn btn-outline-primary btn-sm p-2 mx-2" %>
        <% end %>
        <%= button_to "Delete this item", item, method: :delete, class: "btn btn-outline-danger btn-sm p-2" %>
      </div>
    </div>
  </div>
</div>
